@tailwind base;
@tailwind components;
@tailwind utilities;

.like-container {
  display: flex;
  align-items: center;
}

.like-container img {
  margin-right: 5px; /* Adjust spacing between icon and number if necessary */
}

.like-count {
  display: inline-block;
}
