body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.chat-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60vh;
}

.messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.message {
  margin-bottom: 10px;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.message:last-child {
  border-bottom: none;
}

.input-container {
  display: flex;
}

.input-container input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.input-container button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.input-container button:hover {
  background-color: #0056b3;
}

.message-bubble {
  background-color: #aaf0f3;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  margin-left: 20%;
}

.message-bubble-sent {
  background-color: #aeaeae;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  margin-right: 20%;
}

.message-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.message-username {
  font-size: 0.85em;
  color: #888;
  font-family: "San Francisco", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
}

.message-time {
  font-size: 0.85em;
  color: #888;
  font-family: "San Francisco", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
}

.message-content {
  color: #333;
  font-family: "San Francisco", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
  line-height: 1.3;
}

#autoScrollSpan {
  font-size: 0.8em;
  color: #888;
}
.systemMsg {
  text-align: center;
  color: #888;
  font-style: italic;
  font-size: 0.9em;
}

#roomHeading {
  text-align: center;
  font-family: "San Francisco", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
  line-height: 1.3;
  text-transform: uppercase;
  color: #1c75d3;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
